@import "../../styles/screen";

.wrapper {
    max-width: 500px;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;

    img {
        width: 100%;
        border-radius: 0.75em;
    }

    @media screen and (max-width: $large-mobile-device) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.box {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}