$small-mobile-device: 20rem;
$large-mobile-device: 30rem;
$small-tablet-device: 37.5rem;
$large-tablet-device: 48rem;
$small-laptop-device: 56.25rem;
$large-laptop-device: 64rem;
$small-pc-device: 75rem;
$large-pc-device: 82rem;