@import "../../styles/screen";

.wrapper {
    margin: 0 auto;
    max-width: $small-pc-device;
    display: flex;
    justify-content: space-between;
}

.navbarMobile {
    transform: translateX(100%);
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--ep-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: 100%;
    transition: transform .5s ease;
    padding: 1em;

    &Open {
        transform: translateX(0);
    }

    gap: 1em;
}

.navbarMobileItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25em 1em;
    gap: 1em;
    border-radius: 0.75em;

    &:hover {
        background-color: var(--ep-item-hovered);
    }
}