@import "../../styles/screen";

.header {
    position: sticky;
    top: 0;
    font-size: 1.25em;
    padding: 1em;
    font-weight: 500;
    z-index: 3;
}

.wrapper {
    margin: 0 auto;
    max-width: $small-pc-device;
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    gap: 1em;
    padding: 1em;
    transition: all .25s ease;

    @media screen and (max-width: $large-mobile-device) {
        display: none;
    }
}

.item {
    display: flex;
    flex-direction: column;
}