@import "../../styles/screen";

.wrapper {
    display: flex;
    // fle
    gap: 1em;
    width: 100%;
    padding: 1em;
    justify-content: space-between;

    @media screen and (max-width: $large-mobile-device) {
        flex-direction: column;
    }
}

.box {
    display: flex;
    gap: 1em;
    padding: 1em;
    align-items: center;
    flex-direction: column;
}




.row {
    background: var(--ep-box-background-color);
    border-radius: 0.75em;
    margin: 1em auto;
}

img {
    width: 50%;
    border-radius: 0.75em;

    @media screen and (max-width: $large-tablet-device) {
        width: 90%;
    }
}


.buttons {
    display: flex;
    flex-direction: row;
    gap: .5em;
    align-items: center;
    // justify-content: center;
}

.delete_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}