@import "../../styles/screen";






.container {
    background: var(--ep-box-background-color);
    border-radius: 0.75em;
    padding: 1em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1em;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

    img {
        min-width: 150px;
        width: 100%;
        border-radius: 0.75em;
    }
}

.box {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.priceBox {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.buttons {
    display: flex;
    gap: .7em;
    align-items: center;
}