@import "../../styles/screen";

.wrapper {
    z-index: 3;

    @media screen and (max-width: $large-mobile-device) {
        width: 100%;
    }
}

.empty {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}