@media (prefers-color-scheme: light) {
  .app {
    --text-color: #000;
    --background-color: #f6f7f8;
    --box-background-color: rgba(255, 255, 255, 0.9);
    --navbar-background-color: pink;
    --footer-background: pink;
    --topic-background: rgba(255, 255, 255, 0.9);
    --background-image: url("../img/background.jpg!sw800");
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  .app {
    --text-color: #ffffff;
    --background-color: #222;
    --box-background-color: rgba(230, 80, 116, 0.5);
    --topic-background: rgba(47, 47, 47, 0.9);
    --navbar-background-color: rgb(230, 80, 116);
    --footer-background: rgb(230, 80, 116);
    --background-image: url("../img/background-dark-theme.jpeg");
    color-scheme: dark;
  }
}

.app {
  min-height: 100vh;
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text-color);
}