.wrapper,
.aboutUs,
.contactsContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.map {
    width: 100%;
    height: 40vh;
    border-radius: .75em;
}

.social_container {
    display: flex;
    gap: 1em;
}

.social_button {
    border: none;
    outline: none;
    border-radius: .75em;
    padding: 1em;

}